/* ==============================
   CONTACT CTA SECTION
============================== */
.contact-cta-section {
  background-color: var(--bg-yellow);
}

/* ==============================
   GRID LAYOUT
============================== */
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6rem;
}

.contact-text p {
  font-family: var(--body-font);
  color: var(--text-dark);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  margin-top: 2rem;
}

/* ==============================
   CONTACT OPTIONS
============================== */
.contact-options {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  flex-wrap: nowrap; /* NO wrap on desktop */
}

.contact-option {
  display: flex;
  flex-direction: column;
  height: 28rem;
  width: 28rem;
  border: 1px dashed var(--text-dark);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--text-dark);
}

.option-label {
  margin-top: 2rem;
}

.option-email-gap {
  margin-top: 3.3rem;
}

.option-value {
  text-decoration: none;
  color: var(--text-dark);
}

.contact-option img {
  height: 5rem;
  width: 5rem;
}

/* ==============================
   RESPONSIVE
============================== */
@media (max-width: 1024px) {
  .contact-grid {
    grid-template-columns: 1fr; /* stack text + options */
    gap: 4rem;
  }

  .contact-options {
    flex-wrap: wrap; /* allow wrap on tablet */
    justify-content: center;
    gap: 3rem;
  }
  .contact-text {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .contact-options {
    justify-content: center;
    gap: 2.5rem;
  }
}

@media (max-width: 480px) {
  .contact-text p {
    max-width: 100%;
  }

  .contact-options {
    gap: 2rem;
  }
}
